# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

TEST_SUMMARY.md
TESTS_README.md
UPDATES_2025-11-10.md
UPDATES_2025-11-14.md

WARP.md
mantine-warp-rule.md